{% extends 'main/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Sign Up!</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
					{% csrf_token %}

					<input class="text" type="text" name="username" placeholder="Username" required="">
					{{form.username}}
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					{{form.email}}
					<input class="text" type="password" name="password1" placeholder="Password" required="">
					{{form.password1}}
					<input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" required="">
					{{form.password2}}
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
				</form>
				<p>Already have an Account? <a href="{% url 'login' %}"> Login Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>©All rights reserved 2022</p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
{% endblock %}